.calendar {
    background-color: #ffffff;
    border: 1px solid #333333;
    border-collapse: collapse;
    margin: 0.5em 0.5em;
}

.calendar th {
    border: 1px solid #333333;
    padding: 0.5em 0.6em;
}

.calendar td {
    border: 1px solid #333333;
    padding: 0;
}

.calendar tbody td:has(button) {
    background-color: #bdebff;
}

.calendar tbody td button {
    border: none;
    background-color: #bdebff;
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    width: 100%;
}

.calendar tbody td button.saturday {
    color: #4f7bcb;
}

.calendar tbody td button.sunday {
    color: red;
}

.calendar tbody td button.other,
.calendar tbody td:has(.other) {
    background-color: #f8fdff;
}

.calendar tbody td button.today {
    background-color: #0095d1;
    color: #ffffff;
    font-weight: bold;
}

.calendar tbody td button:disabled {
    color: #bbb;
}

.calendar tbody td button.selected,
.calendar tbody td button:hover {
    background-color: #fdd881;
}